*.o
error
*.txt
PairStat/.vscode/c_cpp_properties.json
PairStat/.vscode/launch.json
.gitignore
PairStat/PairStat.out
PairStat/test.sh
PairStat/*.txt

configs/*

QC/temp/*
QC/QC.out

CCOptimization/*.out
CCOptimization/log*
CCOptimization/*ConfigPack*
CCOptimization/*log

*/.vscode/*
.vscode
PairStat/test/3D_TJ_5000_unitDiameter.ConfigPack
PairStat/test/3D_TJ_5000_unitDiameter.ConfigPackIndex
PairStat/test/Z_test.sh

weighted/log*
weighted/*.out
weighted/*.sh
